body {
	background: url(../img/erhai-lake-1804789.jpg) center top fixed;
	background-size: cover;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.wrapper {
	max-width: 1200px;
	margin: auto;
}
ul {
	list-style-type: none;
	padding: 0;
}
header {
	margin: 30px 0;
	position: relative;
}
.logo img {
	width: 80px;
	height: auto;
}
.mainNav {
	position: absolute;
	top: 0;
	right: 0;
}
nav ul li {
	float: left;
	margin: 30px;
	}
	a{
		text-decoration: none;
		border: 1px  solid  rgba(255,220,110,0);
		padding: 20px;
		color:brown;
		transition: all  0.6s;
		}
a:hover{
	border: 1px  solid  rgba(255,220,110,1);
}

